.signup-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* SIGN UP LEFT BANNER SECTION */
.signup-left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 var(--padding-sm);
}
svg {
    display: none;
}
.word-mark {
    margin:var(--margin-sm) 0;
    width: 100%;
    text-align: center;
}
.word-mark h3 {
    font-size: var(--font-size-2xl);
    font-family: var(--Italiana-font);
    color: var(--wordMark);
}
.sign-up-banner-sec {
    position: relative;
    width: 100%;
    height: 100%;
}
.signup-create-text {
    font-size: var(--font-size-md);
    font-family: var(--primary-font);
    font-weight: 600;
    color: var(--primary-color);
    width: 100%;
    margin-bottom: var(--margin-sm);
    margin-left: var(--margin-md);
}
.signup-banner-img-d {
    width: 100%;
    height: 250px;
    background-image: url(/FRONTED/Assets/images/signup\ banner\ mobile.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: var(--border-radius-3xl);
}
.signup-alt-text-d {
    position: relative;
    bottom: -60%;
    width: 80%;
    padding-left: var(--padding-md);
    z-index: 9;
}
.signup-alt-text-d p {
    font-size: var(--font-size-sm);
    color: var(--color-white);
    font-family: var(--primary-font);
}
/* SIGN UP RIGHT BANNER SECTION */
.signup-right-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.form-box {
    width: 96%;
    min-height: 550px;
    background: rgb(238, 236, 236);
    padding-top: var(--padding-md);
    border-radius: var(--border-radius-3xl);
    position: absolute;
    top: -40px;
}
.form-box h2 {
    width: 100%;
    padding-left: var(--padding-md);
    padding-bottom: var(--padding-md);
    color: var(--text-light);
    font-family: var(--primary-font);
}
#signupForm {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.input-group {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-bottom: var(--margin-sm);
}
.input-group input {
    border: 1px solid var(--highLight);
    border-radius: var(--border-radius-xl);
    outline: none;
    width: 300px;
    height: 50px;
    padding-left: var(--padding-2xl);
    position: relative;
    background: transparent;
}
.input-group i {
    z-index: 99;
    position: absolute;
    left: 5%;
    top: 28%;
    font-size: var(--font-size-lg);
    color: var(--text-light);
}
.toggle-password {
    position: absolute;
    right: 12%;
    top: 28%;
}
.signup-btn {
    width: 300px;
    height: 50px;
    background: var(--bg-radial);
    border: none;
    outline: none;
    border-radius: var(--border-radius-xl);
    font-size: var(--font-size-xl);
    font-weight: 700;
    color: var(--color-white);
    cursor: pointer;
    transition: all 0.3s ease;
}
.signup-btn:hover {
     transform: translateY(-2px);
     box-shadow: 0 10px 25px rgba(201, 53, 107, 0.3);
}
.login-link {
    margin: var(--margin-sm) 0;
    font-size: var(--font-size-sm);
}
.login-link a {
    color: var(--secondary-color);
    font-weight: 700;
    text-decoration: none;
    padding-left: var(--padding-md);
    font-size: var(--font-size-md);
}
.signup-option-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: var(--font-size-lg);
    font-weight: 700;
    color: var(--highLight);
    justify-content: center;
}
.signup-option-bar .bar {
    width: 140px;
    height: 2px;
    background-color: var(--highLight);
    border-radius: var(--border-radius-xl);
}
.third-party-signup {
    width: 82%;
    margin-top: var(--margin-sm);
    margin-left: var(--margin-xl);
}
.signup-google {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--highLight);
    border-radius: var(--border-radius-xl);
    text-transform: capitalize;
}
.signup-google img {
    width: 50px;
    height: 50px;
    margin-right: var(--margin-md);
}
.error {
    position: absolute;
    top: 4%;
    left: 15%;
    font-size: 0.750rem;
    color: var(--danger);
    display: none;
}

@media (min-width: 768px) {
      .signup-container {
        flex-direction: row;
        height: 100vh;
    }
    .signup-left-section {
      width: 50%;
      height: 100%;
      padding: var(--padding-sm);
    }
    .signup-right-section {
        width: 50%;
        height: 100%;
    }
    .form-box {
        top: 5%;
        width: 55%;
        background: rgb(255, 255, 255);
        border: 1px solid rgba(170, 169, 169, 0.39);
        box-shadow: 0px 0px 8px rgba(63, 63, 63, 0.164);
    }
    .word-mark {
        position: absolute;
        top: 3%;
        left: -38%;
        z-index: 9;
    }
    .word-mark h3 {
        color: var(--color-white);  
        font-size: 2.2rem;
    }
    .signup-banner-img-d {
        height: 100%;
        margin-left: 40px;
        background-image: url(/FRONTED/Assets/images/signupBannerDesktop.jpg);
        background-size: cover;
        border-radius: 20px;
        clip-path: url(#leftPanelShape);
    }

    .signup-create-text {
        display: none;
    }

    .signup-alt-text-d {
        bottom: 15%;
        width: 60%;
    }
    .signup-alt-text-d p {
        font-size: var(--font-size-xl);
        font-weight: 300;
    }
    svg {
    display: block;
}
}

@media (min-width: 1200px) {

    .signup-container {
        flex-direction: row;
        height: 100vh;
    }
    .signup-left-section {
      width: 50%;
      height: 100%;
      padding: var(--padding-sm);
    }
    .signup-right-section {
        width: 50%;
        height: 100%;
    }
    .form-box {
        top: 5%;
        width: 55%;
        background: rgb(255, 255, 255);
        border: 1px solid rgba(170, 169, 169, 0.39);
        box-shadow: 0px 0px 8px rgba(63, 63, 63, 0.164);
    }
    .word-mark {
        position: absolute;
        top: 3%;
        left: -38%;
        z-index: 9;
    }
    .word-mark h3 {
        color: var(--color-white);  
        font-size: 2.2rem;
    }
    .signup-banner-img-d {
        height: 100%;
        margin-left: 40px;
        background-image: url(/FRONTED/Assets/images/signupBannerDesktop.jpg);
        background-size: cover;
        border-radius: 20px;
        clip-path: url(#leftPanelShape);
    }

    .signup-create-text {
        display: none;
    }

    .signup-alt-text-d {
        bottom: 15%;
        width: 60%;
    }
    .signup-alt-text-d p {
        font-size: var(--font-size-xl);
        font-weight: 300;
    }
    svg {
    display: block;
}
}